.cup {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.507);
  margin-bottom: 40px;
  display: flex;
  align-items: center; }
  .cup h2 {
    font-family: 'Gugi', cursive;
    margin: auto;
    font-size: 45px;
    text-shadow: 1px 1px 4px black; }
    .cup h2 b {
      font-family: 'Gugi', cursive;
      color: red; }

.games .containerEsport {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6); }
  .games .containerEsport h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px; }
  .games .containerEsport .cod {
    width: 100%;
    height: 250px;
    background-image: url(../../img/cod.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
    animation-name: cod;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out; }
@keyframes cod {
  0% {
    background-image: url(../../img/cod2.jpg); }
  50% {
    background-image: url(../../img/cod.jpg); }
  100% {
    background-image: url(../../img/cod3.jpg); } }
  .games .containerEsport .pubg {
    width: 100%;
    height: 250px;
    background-image: url(../../img/pu1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
    animation-name: pubg;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out; }
@keyframes pubg {
  0% {
    background-image: url(../../img/pu2.jpg); }
  35% {
    background-image: url(../../img/pu3.jpg); }
  70% {
    background-image: url(../../img/pu4.jpg); }
  100% {
    background-image: url(../../img/pu1.jpg); } }
  .games .containerEsport .freeFire {
    width: 100%;
    height: 250px;
    background-image: url(../../img/fre1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
    animation-name: free;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out; }
@keyframes free {
  0% {
    background-image: url(../../img/fre2.jpg); }
  35% {
    background-image: url(../../img/fre3.jpg); }
  70% {
    background-image: url(../../img/fre4.jpg); }
  100% {
    background-image: url(../../img/fre1.jpg); } }
  .games .containerEsport .csgo {
    width: 100%;
    height: 250px;
    background-image: url(../../img/go1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;
    animation-name: cs;
    animation-direction: alternate-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out; }
@keyframes cs {
  0% {
    background-image: url(../../img/go2.jfif); }
  35% {
    background-image: url(../../img/go3.jpg); }
  70% {
    background-image: url(../../img/go4.jpg); }
  100% {
    background-image: url(../../img/go1.jpg); } }

/*# sourceMappingURL=section2.css.map */
