.register {
  width: 100%;
  height: 100px; }
  .register .dates {
    text-align: center; }
    .register .dates h2 {
      font-size: 50px;
      margin: 40px 0;
      font-family: 'Gugi', cursive; }
      .register .dates h2 b {
        font-family: 'Gugi', cursive;
        font-size: 60px;
        color: red; }
    .register .dates .games {
      font-size: 25px;
      margin: 15px 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: auto;
      padding: 10px 0;
      border: 2px solid black; }
      .register .dates .games #ppubg, .register .dates .games #pfree, .register .dates .games #pcsgo, .register .dates .games #pcod {
        display: none;
        background-color: #ff090936;
        width: 80%;
        margin: auto;
        border-radius: 20px;
        padding: 14px 0;
        flex-direction: column; }
        .register .dates .games #ppubg #x6, .register .dates .games #ppubg #x7, .register .dates .games #ppubg #x8, .register .dates .games #ppubg #x9, .register .dates .games #pfree #x6, .register .dates .games #pfree #x7, .register .dates .games #pfree #x8, .register .dates .games #pfree #x9, .register .dates .games #pcsgo #x6, .register .dates .games #pcsgo #x7, .register .dates .games #pcsgo #x8, .register .dates .games #pcsgo #x9, .register .dates .games #pcod #x6, .register .dates .games #pcod #x7, .register .dates .games #pcod #x8, .register .dates .games #pcod #x9 {
          float: right;
          font-size: 40px;
          margin-right: 30px; }
  .register #popUp .container {
    width: 100%;
    height: 100%;
    background-color: #140d3cbf;
    position: fixed;
    display: none;
    top: 0%;
    z-index: 2; }
    .register #popUp .container .formContainer {
      width: 90%;
      height: 700px;
      border-radius: 30px;
      margin: 0 5%;
      z-index: 3;
      top: 50%;
      position: fixed;
      background-image: linear-gradient(to bottom, #3d0707, #5f0811, #830616, #a8031a, #cf001b);
      margin-top: -350px; }
      .register #popUp .container .formContainer .close-button {
        font-size: 30px;
        margin-right: 20px;
        margin-top: 20px;
        position: relative;
        left: 88%; }
      .register #popUp .container .formContainer .form {
        display: flex;
        flex-direction: column;
        margin: 25px; }
        .register #popUp .container .formContainer .form #send {
          color: white;
          border-radius: 16px;
          width: 50%;
          height: 50px;
          font-size: 32px;
          margin: 32px auto;
          background-color: black;
          border: black; }
          .register #popUp .container .formContainer .form #send:hover {
            transform: scale(1.05); }
        .register #popUp .container .formContainer .form h2 {
          text-align: center;
          font-size: 45px;
          letter-spacing: 4px;
          color: #ffffff; }
        .register #popUp .container .formContainer .form label {
          font-size: 26px;
          margin: 2px; }
        .register #popUp .container .formContainer .form input, .register #popUp .container .formContainer .form select {
          color: black;
          outline: none;
          font-size: 20px;
          border-radius: 12px;
          padding: 2px 17px; }
        .register #popUp .container .formContainer .form .divGroup {
          display: flex;
          justify-content: center; }
          .register #popUp .container .formContainer .form .divGroup div {
            display: flex;
            flex-direction: column;
            margin: 0px 10px; }
            .register #popUp .container .formContainer .form .divGroup div input {
              margin: auto; }
  .register #register {
    width: 50%;
    height: 55px;
    background-color: rgba(153, 1, 1, 0.9);
    margin: 55px auto;
    border-radius: 25px;
    border: 1.5px solid black;
    display: flex;
    align-items: center; }
    .register #register:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 20px 6px rgba(109, 70, 236, 0.7);
      background-color: rgba(255, 0, 0, 0.9); }
    .register #register h3 {
      margin: auto;
      color: white;
      font-family: 'Gugi', cursive;
      text-shadow: 0px 0px 8px black;
      font-size: 24px;
      letter-spacing: 1px; }

/*# sourceMappingURL=section3.css.map */
