* {
  margin: 0%;
  font-family: 'Teko', sans-serif;
  padding: 0%;
  color: white;
  text-decoration: none;
  list-style: none; }

body {
  background-image: url(../../img/wallpa.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed; }
  body .space {
    width: 100%;
    height: 1.5px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
    opacity: 70%;
    background-image: linear-gradient(to bottom, #a342fb, #db00d0, #f800a2, #ff0075, #ff004d, #ff004d, #ff004d, #ff004d, #ff0075, #f800a2, #db00d0, #a342fb); }

.header {
  align-items: center;
  width: 100%;
  height: 48px;
  background-image: linear-gradient(to top, #272727, #232323, #1f1f1f, #1c1c1c, #181818, #151515, #121212, #0e0e0e, #0b0b0b, #070707, #040404, #000000);
  display: flex;
  justify-content: space-between;
  top: 0%;
  position: fixed;
  box-shadow: 0px 3px 12px 0px rgba(146, 37, 37, 0.78);
  -webkit-box-shadow: 1px 3px 12px 0px rgba(146, 37, 37, 0.78);
  -moz-box-shadow: 1px 3px 12px 0px rgba(146, 37, 37, 0.78); }
  .header .menu {
    width: auto;
    height: auto;
    margin-left: 4%;
    margin-top: 12px; }
    .header .menu .icon {
      color: white;
      width: 15px;
      height: 20px;
      font-size: 24px; }
  .header .abierto {
    position: fixed;
    margin-top: 48px;
    width: 100%;
    top: 0;
    height: 100%;
    font-size: 40px;
    text-align: center;
    background-image: linear-gradient(to bottom, #ff0000, #f20101, #e50202, #d90303, #cc0404, #bd0206, #af0108, #a00009, #8c0009, #780008, #640005, #510000); }
    .header .abierto .line {
      height: 1.5px;
      width: 78px;
      background-color: white;
      text-align: center;
      margin: auto;
      margin-top: 10px; }
    .header .abierto .section-menu {
      margin-top: 20px; }
  .header .menu-content {
    display: none; }
  .header .logo {
    margin-right: 4%;
    width: auto;
    height: 70px; }

.aboutUs {
  margin-top: 48px; }
  .aboutUs .backimg {
    width: 100%;
    height: 200px;
    border-radius: 0%;
    display: flex;
    align-items: center; }
    .aboutUs .backimg .title {
      margin: auto;
      width: 80%;
      height: auto; }
  .aboutUs .info {
    margin-top: 50%;
    width: 100%;
    height: 448px;
    text-align: center; }
    .aboutUs .info h1 {
      font-size: 45px;
      color: white; }
    .aboutUs .info p {
      font-size: 19px;
      color: white;
      font-family: 'Play', sans-serif;
      text-shadow: 0px 0px 4px black; }

.cup {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.507);
  margin-bottom: 40px;
  display: flex;
  align-items: center; }
  .cup h2 {
    font-family: 'Gugi', cursive;
    margin: auto;
    font-size: 45px;
    text-shadow: 1px 1px 4px black; }
    .cup h2 b {
      font-family: 'Gugi', cursive;
      color: red; }

.games .containerEsport {
  width: 100%;
  height: auto;
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  margin-bottom: 20px; }
  .games .containerEsport:hover {
    box-shadow: 0px 0px 46px -4px rgba(213, 127, 215, 0.65); }
    .games .containerEsport:hover h2 {
      color: gray; }
  .games .containerEsport .stats {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #140d3cbf; }
    .games .containerEsport .stats .construction {
      width: 100%;
      height: 20%; }
    .games .containerEsport .stats .gameStats {
      font-size: 22px;
      display: flex;
      flex-wrap: wrap;
      background-image: linear-gradient(to bottom, #3d0707, #5f0811, #830616, #a8031a, #cf001b);
      width: 90%;
      margin: auto 5%;
      border-radius: 15px;
      height: 500px;
      padding: 15px 0;
      top: 50%;
      margin-top: -250px;
      position: fixed;
      text-align: center; }
      .games .containerEsport .stats .gameStats .torneos {
        width: 100%;
        font-size: 32px; }
      .games .containerEsport .stats .gameStats .x {
        width: 100%; }
        .games .containerEsport .stats .gameStats .x .close {
          margin-right: 10px;
          height: auto;
          float: right; }
      .games .containerEsport .stats .gameStats .rate {
        background-color: rgba(0, 0, 0, 0.678);
        height: auto;
        width: 80%;
        border-radius: 10px; }
      .games .containerEsport .stats .gameStats div {
        margin: auto; }
  .games .containerEsport h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 35px; }
  .games .containerEsport #cod {
    width: 100%;
    height: auto; }
  .games .containerEsport #pubg {
    width: 100%;
    height: auto; }
  .games .containerEsport #free {
    width: 100%;
    height: auto; }
  .games .containerEsport #csgo {
    width: 90%;
    margin: 0 5%;
    height: auto; }

.register {
  width: 100%;
  height: 100px; }
  .register .dates {
    text-align: center; }
    .register .dates h2 {
      font-size: 50px;
      margin: 40px 0;
      font-family: 'Gugi', cursive; }
      .register .dates h2 b {
        font-family: 'Gugi', cursive;
        font-size: 60px;
        color: red; }
    .register .dates .games {
      font-size: 25px;
      margin: 15px 0;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: auto;
      padding: 10px 0;
      border: 2px solid black; }
      .register .dates .games #ppubg, .register .dates .games #pfree, .register .dates .games #pcsgo, .register .dates .games #pcod {
        display: none;
        background-color: #ff090936;
        width: 80%;
        margin: auto;
        border-radius: 20px;
        padding: 14px 0;
        flex-direction: column; }
        .register .dates .games #ppubg #x6, .register .dates .games #ppubg #x7, .register .dates .games #ppubg #x8, .register .dates .games #ppubg #x9, .register .dates .games #pfree #x6, .register .dates .games #pfree #x7, .register .dates .games #pfree #x8, .register .dates .games #pfree #x9, .register .dates .games #pcsgo #x6, .register .dates .games #pcsgo #x7, .register .dates .games #pcsgo #x8, .register .dates .games #pcsgo #x9, .register .dates .games #pcod #x6, .register .dates .games #pcod #x7, .register .dates .games #pcod #x8, .register .dates .games #pcod #x9 {
          float: right;
          margin-right: 10px; }
  .register #popUp .container {
    width: 100%;
    height: 100%;
    background-color: #140d3cbf;
    position: fixed;
    display: none;
    top: 0%;
    z-index: 2; }
    .register #popUp .container .formContainer {
      width: 90%;
      height: 700px;
      border-radius: 30px;
      margin: 0 5%;
      z-index: 3;
      top: 50%;
      position: fixed;
      background-image: linear-gradient(to bottom, #3d0707, #5f0811, #830616, #a8031a, #cf001b);
      margin-top: -350px; }
      .register #popUp .container .formContainer .close-button {
        font-size: 30px;
        margin-right: 20px;
        margin-top: 20px;
        position: relative;
        left: 88%; }
      .register #popUp .container .formContainer .form {
        display: flex;
        flex-direction: column;
        margin: 25px; }
        .register #popUp .container .formContainer .form #send {
          color: white;
          border-radius: 16px;
          width: 50%;
          height: 50px;
          font-size: 32px;
          margin: 32px auto;
          background-color: black;
          border: black; }
          .register #popUp .container .formContainer .form #send:hover {
            transform: scale(1.05); }
        .register #popUp .container .formContainer .form h2 {
          text-align: center;
          font-size: 45px;
          letter-spacing: 4px;
          color: #ffffff; }
        .register #popUp .container .formContainer .form label {
          font-size: 26px;
          margin: 2px; }
        .register #popUp .container .formContainer .form input, .register #popUp .container .formContainer .form select {
          color: black;
          outline: none;
          font-size: 20px;
          border-radius: 12px;
          padding: 2px 17px; }
        .register #popUp .container .formContainer .form .divGroup {
          display: flex;
          justify-content: center; }
          .register #popUp .container .formContainer .form .divGroup div {
            display: flex;
            flex-direction: column;
            margin: 0px 10px; }
            .register #popUp .container .formContainer .form .divGroup div input {
              margin: auto; }
  .register #register {
    width: 50%;
    height: 55px;
    background-color: rgba(153, 1, 1, 0.9);
    margin: 55px auto;
    border-radius: 25px;
    border: 1.5px solid black;
    display: flex;
    align-items: center; }
    .register #register:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 20px 6px rgba(109, 70, 236, 0.7);
      background-color: rgba(255, 0, 0, 0.9); }
    .register #register h3 {
      margin: auto;
      color: white;
      font-family: 'Gugi', cursive;
      text-shadow: 0px 0px 8px black;
      font-size: 24px;
      letter-spacing: 1px; }

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  .links .link {
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: 2px 0px 13px rgba(255, 60, 60, 0.76); }
    .links .link:hover {
      text-shadow: 2px 0px 13px rgba(49, 253, 255, 0.76);
      font-size: 40px; }

/*# sourceMappingURL=style.css.map */
