* {
  margin: 0%;
  font-family: 'Teko', sans-serif;
  padding: 0%;
  color: white;
  text-decoration: none;
  list-style: none; }

body {
  background-image: url(../../img/wallpaper.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto; }
  body .space {
    width: 100%;
    height: 1.5px;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.7);
    opacity: 70%;
    background-image: linear-gradient(to bottom, #a342fb, #db00d0, #f800a2, #ff0075, #ff004d, #ff004d, #ff004d, #ff004d, #ff0075, #f800a2, #db00d0, #a342fb); }

.header {
  align-items: center;
  width: 100%;
  height: 48px;
  background-image: linear-gradient(to top, #272727, #232323, #1f1f1f, #1c1c1c, #181818, #151515, #121212, #0e0e0e, #0b0b0b, #070707, #040404, #000000);
  display: flex;
  justify-content: space-between;
  top: 0%;
  position: fixed;
  box-shadow: 0px 3px 12px 0px rgba(146, 37, 37, 0.78);
  -webkit-box-shadow: 1px 3px 12px 0px rgba(146, 37, 37, 0.78);
  -moz-box-shadow: 1px 3px 12px 0px rgba(146, 37, 37, 0.78); }
  .header .menu {
    width: auto;
    height: auto;
    margin-left: 4%;
    margin-top: 12px; }
    .header .menu .icon {
      color: white;
      width: 15px;
      height: 20px;
      font-size: 18px; }
  .header .menu-content {
    display: none;
    position: fixed;
    margin-top: 90px;
    width: 100%;
    top: 0;
    height: 100%;
    font-size: 25px;
    text-align: center;
    background-image: linear-gradient(to bottom, #ff0000, #f20101, #e50202, #d90303, #cc0404, #bd0206, #af0108, #a00009, #8c0009, #780008, #640005, #510000); }
    .header .menu-content .line {
      height: 1.5px;
      width: 78px;
      background-color: white;
      text-align: center;
      margin: auto;
      margin-top: 10px; }
    .header .menu-content .section-menu {
      margin-top: 20px; }
  .header .logo {
    margin-right: 4%;
    width: auto;
    height: 70px; }

.aboutUs {
  margin-top: 48px; }
  .aboutUs .backimg {
    width: 100%;
    height: 200px;
    border-radius: 0%;
    display: flex;
    align-items: center; }
    .aboutUs .backimg .title {
      margin: auto;
      width: 80%;
      height: auto; }
  .aboutUs .info {
    margin-top: 50%;
    width: 100%;
    height: 448px;
    text-align: center; }
    .aboutUs .info h1 {
      font-size: 45px;
      color: white; }
    .aboutUs .info p {
      font-size: 19px;
      color: white;
      font-family: 'Play', sans-serif;
      text-shadow: 0px 0px 4px black; }

.cup {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.507);
  margin-bottom: 40px;
  display: flex;
  align-items: center; }
  .cup h2 {
    font-family: 'Gugi', cursive;
    margin: auto;
    font-size: 45px;
    text-shadow: 1px 1px 4px black; }
    .cup h2 b {
      font-family: 'Gugi', cursive;
      color: red; }

.games .containerEsport {
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer; }
  .games .containerEsport:hover {
    box-shadow: 0px 0px 46px -4px rgba(213, 127, 215, 0.65); }
    .games .containerEsport:hover h2 {
      color: gray; }
  .games .containerEsport h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 35px; }
  .games .containerEsport .cod {
    width: 100%;
    height: 250px;
    background-image: url(../../img/cod.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s; }
    .games .containerEsport .cod:hover {
      animation-name: cod;
      animation-direction: alternate-reverse;
      animation-duration: 10s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-timing-function: ease-in-out; }
@keyframes cod {
  0% {
    background-image: url(../../img/cod3.jpg); }
  50% {
    background-image: url(../../img/cod2.jpg); }
  100% {
    background-image: url(../../img/cod.jpg); } }
  .games .containerEsport .pubg {
    width: 100%;
    height: 250px;
    background-image: url(../../img/pu1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s; }
    .games .containerEsport .pubg:hover {
      animation-name: pubg;
      animation-direction: alternate-reverse;
      animation-duration: 8s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-timing-function: ease-in-out; }
@keyframes pubg {
  0% {
    background-image: url(../../img/pu2.jpg); }
  35% {
    background-image: url(../../img/pu3.jpg); }
  70% {
    background-image: url(../../img/pu4.jpg); }
  100% {
    background-image: url(../../img/pu1.jpg); } }
  .games .containerEsport .freeFire {
    width: 100%;
    height: 250px;
    background-image: url(../../img/fre1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s; }
    .games .containerEsport .freeFire:hover {
      animation-name: free;
      animation-direction: alternate-reverse;
      animation-duration: 8s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-timing-function: ease-in-out; }
@keyframes free {
  0% {
    background-image: url(../../img/fre2.jpg); }
  35% {
    background-image: url(../../img/fre3.jpg); }
  70% {
    background-image: url(../../img/fre4.jpg); }
  100% {
    background-image: url(../../img/fre1.jpg); } }
  .games .containerEsport .csgo {
    width: 100%;
    height: 250px;
    background-image: url(../../img/go1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s; }
    .games .containerEsport .csgo:hover {
      animation-name: cs;
      animation-direction: alternate-reverse;
      animation-duration: 20s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-play-state: running;
      animation-timing-function: ease-in-out; }
@keyframes cs {
  0% {
    background-image: url(../../img/go2.jfif); }
  35% {
    background-image: url(../../img/go3.jpg); }
  70% {
    background-image: url(../../img/go4.jpg); }
  100% {
    background-image: url(../../img/go1.jpg); } }
.register {
  width: 100%;
  height: 100px; }
  .register #popUp .container {
    width: 100%;
    height: 100%;
    background-color: #140d3cbf;
    position: fixed;
    top: 0%;
    z-index: 2; }
    .register #popUp .container .formContainer {
      width: 90%;
      height: 600px;
      border-radius: 30px;
      margin: 0 5%;
      z-index: 3;
      top: 50%;
      position: fixed;
      background-image: linear-gradient(to bottom, #3d0707, #5f0811, #830616, #a8031a, #cf001b);
      margin-top: -300px; }
      .register #popUp .container .formContainer .close-button {
        font-size: 30px;
        float: right;
        margin-right: 20px;
        margin-top: 20px; }
  .register #register {
    width: 50%;
    height: 55px;
    background-color: rgba(153, 1, 1, 0.801);
    margin: auto;
    border-radius: 25px;
    display: flex;
    align-items: center; }
    .register #register:hover {
      transform: scale(1.05);
      box-shadow: 0px 0px 20px 6px rgba(109, 70, 236, 0.7);
      background-color: rgba(255, 0, 0, 0.9); }
    .register #register h3 {
      margin: auto;
      color: white;
      font-family: 'Gugi', cursive;
      text-shadow: 0px 0px 8px black;
      font-size: 24px;
      letter-spacing: 1px; }

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly; }
  .links .link {
    font-size: 35px;
    margin-bottom: 20px;
    text-shadow: 2px 0px 13px rgba(255, 60, 60, 0.76); }
    .links .link:hover {
      text-shadow: 2px 0px 13px rgba(49, 253, 255, 0.76);
      font-size: 40px; }

/*# sourceMappingURL=style.css.map */
